<footer class="footer">
	<div class="spollers-block _scr-item _spollers">
		<div class="spollers-block__item ">
				<div class="spollers-block__title _spoller ">Subscribe For Newsletter</div>
				<div class="spollers-block__body">
					<p class="body-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet elementum risus. Etiam vitae tristique dui. Aliquam facilisis tellus non lectus porttitor.</p>
					<form class="footer-form">
						<div><input type="text" placeholder="Email Address"></div>
						<div class="button" id="footer-button"><span><img class="arrow-right" src="img/arrow-right.svg" alt=""></span></div>
					</form>
				</div>
		</div>
		<div class="spollers-block__item">
			<div class="spollers-block__title _spoller ">About Us</div>
			 <div class="spollers-block__body">
				<a class="footer-link" href="#">Our Approach</a>
				<a class="footer-link" href="#">Market Views & Insights</a>
				<a class="footer-link" href="#">How to Get Started</a>
				<a class="footer-link" href="#">Careers</a>
			</div>
		</div>
		<div class="spollers-block__item">
			<div class="spollers-block__title _spoller ">Business</div>
			 <div class="spollers-block__body">
				<a class="footer-link" href="#">Investment Management</a>
				<a class="footer-link" href="#">Insurance Quantified</a>
				<a class="footer-link" href="#">Real Estate</a>
				<a class="footer-link" href="#">Investor Solutions</a>
				<a class="footer-link" href="#">Sightway Capital</a>
				<a class="footer-link" href="#">Business Ventures</a>
			</div>
		</div>
		<div class="spollers-block__item">
			 <div class="spollers-block__title _spoller ">Contact</div>
			 <div class="spollers-block__body">
				<a class="footer-link" href="#">Quantitatives CMP Inc.</a>
				<a class="footer-link" href="#">136. st Nicolas street</a>
				<a class="footer-link" href="#">Brooklyn 24252</a>
				<a class="footer-link" href="#">New York State </a>
		 </div>
		</div>
		 </div>

		<div class="line" id="footer-line"></div>
		<div class="footer-under">
			<div class="container">
				<div class="footer-under__inner">
					<div class="footer__logo">
						<img src="img/footer-logo.png" alt="">
					</div>
					<p class="copy">© 2021 Quantitatives. All Rights Reserved.</p>
					<p class="arr">Privacy Policy | Legal Informations</p>
				</div>
			</div>
			
		</div>
	</div>
</footer>



	 
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="js/script.min.js?v=1.1.9"></script>
</div>
<div class="line1"></div>
<div class="line2"></div>
<div class="line3"></div>
<div class="line4"></div>
</body>
</html>

