<section class="insights-section">
	<div class="container">
			<h1 class="section-title">Insights</h1>
			<div class="insights-section__inner">
					<div class="insights-item">
							<div class="item-left">
									<img class="insights-picture" src="img/insights-1.jpg" alt="">
							</div>
							<div class="item-right">
									<h4 class="insights-button">insights</h4>
									<h2 class="insights-item-title">Lorem ipsum dolor</h2>
									<p class="by">By Jonathan Sestigouni / 16 Aug 2021</p>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id at posuere quisque facilisis feugiat blandit egestas urna, augue. Et justo a dui, ut leo, sed non lectus enim. Nisi, fermentum, cras ornare accumsan eget et tempus tempor ac. Nascetur odio mauris at et sit congue. Aenean neque, mi, donec egestas id eu laoreet. Orci tellus quam ac nunc maecenas gravida lacus. Ac.</p>
							</div>
					</div>
					<div class="insights-item">
							<div class="item-left">
									<h4 class="insights-button">insights</h4>
									<h2 class="insights-item-title">Lorem ipsum dolor</h2>
									<p class="by">By Jonathan Sestigouni / 16 Aug 2021</p>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id at posuere quisque facilisis feugiat blandit egestas urna, augue. Et justo a dui, ut leo, sed non lectus enim. Nisi, fermentum, cras ornare accumsan eget et tempus tempor ac. Nascetur odio mauris at et sit congue. Aenean neque, mi, donec egestas id eu laoreet. Orci tellus quam ac nunc maecenas gravida lacus. Ac.</p>
							</div>
							<div class="item-right"  id="right-picture">
									<img class="insights-picture" src="img/insights-2.jpg" alt="">
							</div>
					</div>
					<div class="insights-item">
							<div class="item-left">
									<img class="insights-picture" src="img/insights-3.jpg" alt="">
							</div>
							<div class="item-right">
									<h4 class="insights-button">insights</h4>
									<h2 class="insights-item-title">Lorem ipsum dolor</h2>
									<p class="by">By Jonathan Sestigouni / 16 Aug 2021</p>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id at posuere quisque facilisis feugiat blandit egestas urna, augue. Et justo a dui, ut leo, sed non lectus enim. Nisi, fermentum, cras ornare accumsan eget et tempus tempor ac. Nascetur odio mauris at et sit congue. Aenean neque, mi, donec egestas id eu laoreet. Orci tellus quam ac nunc maecenas gravida lacus. Ac.</p>
							</div>
					</div>
			</div>
	</div>
			
</section>